.footer {
    background-color: #245852;
    padding-top: 104.76px;
    padding-bottom: 144px;
}

.footer-logo + * {
    padding-top: 74.5px;
}

.footer-nav ul {
    display: grid;
    grid-template-columns: auto;
    row-gap: 60px;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    list-style-type: none ;
}

@media (max-width: 1399px) {
    .footer {
        padding-top: 94.76px;
        padding-bottom: 110px;
    }
    .footer-nav ul {
        font-size: 22px;
        row-gap: 40px;
    }
    .footer-logo + * {
        padding-top: 64.5px;
    }
}

@media (max-width: 991px) {
    .footer {
        padding-top: 84.76px;
        padding-bottom: 100px;
    }
    .footer-nav ul {
        font-size: 20px;
        row-gap: 38px;
    }
    .footer-logo + * {
        padding-top: 55.5px;
    }
}

@media (max-width: 500px) {
    .footer {
        padding-top: 64.76px;
        padding-bottom: 90px;
    }
    .footer-nav ul {
        font-size: 18px;
        row-gap: 35px;
    }
    .footer-logo + * {
        padding-top: 49.5px;
    }
}